@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #2e2a68 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

input {
    width: 400px;
    background-color: #4c2885;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-family: inherit;
}

input::placeholder {
    color: #bbb;
}

input:focus {
    outline: none;
}

.card {
    max-width: 800px;
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #4c11ac 100%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
}

.avatar {
    border: 10px solid #2a2a72;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.info li {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.info li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #2a2a72;
    color: white;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}



/* Responsive Part */

@media screen and (max-width: 830px) {
    input {
        width: 300px;
    }

    .card {
        width: 600px;
    }
}

@media screen and (max-width: 630px) {
    .card {
        width: 500px;
    }

    .info {
        width: 200px;
        flex-direction: column;
    }
}

@media screen and (max-width: 530px) {
    input {
        width: 200px;
    }

    .card {
        width: 400px;
        flex-direction: column;
    }

    .info {
        width: 100px;
    }

    .avatar {
        margin-left: 80px;
    }
}

@media screen and (max-width: 430px) {
    .card {
        width: 300px;
        flex-direction: column;
    }

    .avatar {
        margin-left: 35px;
    }

    .info {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info li {
        margin-left: 60px;
    }
}